
#maindiv {
    margin:0 auto;	
    width: 100%;

    overflow: hidden;
}
#leftdiv {
    width: 20%;
    background-color: #aeb;
    float: left;
}
#rightdiv {
    width: 50%;
    height: 300rpx;
    background-color: #feb;
    float: left;
}
#rightdiv input{
    border: 50rpx;;
}