.span-div {
    font-size: 18px;
}

/* button {
    font-size: 20px;
    font-weight:400;
} */
button {
    font-size: 20px;
    font-weight:500;
    border-radius: 4px;

}
.title{
    color: orange;
    font-size: 24px;
    font-weight:700;
}
.notes{
    color: red;
    font-size: 18px;
    font-weight:600;
}
.form{
    font-size: 18px;
}
input {
    font-size: 18px;
}
.span-div-email{
    
}